!!! 5
%html{:lang=>"en-US"}
  %head
    %meta{:charset=>"utf-8"}/
    %link{:href=>"/stylesheets/application.css", :rel=>"stylesheet"}/

    // Typekit
    // %script{:src  => "http://use.typekit.com/qtu6lnz.js"}
    // :javascript
    // try{Typekit.load();}catch(e){}
    // All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
    
    // Modernizr
    %script{:src  => "/javascripts/modernizr-1.5.min.js"}

  %body{:id=>@body_id, :class=>@layout}
    .container
      %header#topbar
        %h1#logo
          %a{:href=>"/"}
            Gorilla template
        %nav#nav-main
          %ul
            %li.first.current
              %a{:href=>"/"} Link 1
            %li
              %a{:href=>"#"} Link 2
            %li
              %a{:href=>"#"} Link 3
            %li
              %a{:href=>"#"} Link 4
        %nav#nav-extra
          %ul
            %li.first.current
              %a{:href=>"/"} Link 1
            %li
              %a{:href=>"#"} Link 2
            %li
              %a{:href=>"#"} Link 3
            %li
              %a{:href=>"#"} Link 4
        #content-wrap
          #content
            = yield :pageheader
            = yield
          %sidebar
            = yield :sidebar

        %footer#bottom
          #adres
            %p
              Footer content

  // frontend stuf
  %script{:src  => "/javascripts/frontend.js"}
  
  // jQuery
  %script{:src  => "/javascripts/jquery-1.4.2.min.js"}

  :plain
    <!--[if lt IE 7 ]>
      <script src="../js/dd_belatedpng.js"></script>
    <![endif]-->