!!! 5
%html{:lang=>"en-US"}
  %head
    %meta{:charset=>"utf-8"}/
    %link{:href=>"/stylesheets/application.css", :rel=>"stylesheet"}/

    // Typekit
    // %script{:src  => "http://use.typekit.com/qtu6lnz.js"}
    // :javascript
    // try{Typekit.load();}catch(e){}
    // All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
    
    // Modernizr
    %script{:src  => "/javascripts/modernizr-1.5.min.js"}

    // jQuery
    %script{:src  => "/javascripts/jquery-1.4.2.min.js"}

  %body{:id=>@body_id, :class=>@layout}
    #root
      %header#topbar
        .container                    
          %h1#logo
            %a{:href=>"/"}
              Gorilla template
          %nav
            %ul
              %li.first.current
                %a{:href=>"/"} Link 1
              %li
                %a{:href=>"#"} Link 2
              %li
                %a{:href=>"#"} Link 3
              %li
                %a{:href=>"#"} Link 4
      #content-wrap.container
        #content
          = yield :pageheader
          = yield
        %sidebar
          = yield :sidebar
      #root-footer

  %footer#bottom
    .container
      #adres
        %p
          <a href="#">Factr</a> is een product van <a href="#">SumoCoders BVBA</a>. <a href="#">Contacteer ons</a>

  // frontend stuf
  %script{:src  => "/javascripts/frontend.js"}
  
  :plain
    <!--[if lt IE 7 ]>
      <script src="../js/dd_belatedpng.js"></script>
    <![endif]-->