/*
  Title: Gorilla project template
  Author: Jelle Desramaults
  For: Gorilla webdesign (http://gorilla-webdesign.be)
  Date: February 2011
  
  1. CONFIGURATION
  2. COMMON
      2.1 General page layout
      2.2 Topbar
      2.3 Header
      2.4 Sidebar
      2.5 Content
      2.6 Footer
  3. PAGES
      3.1 Home
      3.2 …
  4. MEDIA QUERIES
  5. IE STYLES
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-size: 87.5%;
  line-height: 1.5em;
}

html > body {
  font-size: 14px;
}

/* Typography -------------------------------------------------------------- */
/* The following classes are for use with @extend. */
.serif {
  font-family: Cambria, Georgia, serif;
}

.sans, body {
  font-family: sans-serif;
}

.mono, pre, code, tt {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

.caps, h2, h4 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Body -------------------------------------------------------------- */
body {
  color: #3f3f3f;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
::-moz-selection {
  background: #f6921e;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #f6921e;
  color: #FFF;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
a:link, a:visited {
  color: #f6921e;
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  outline: none;
}
a:focus, a:hover, a:active {
  color: #191919;
  text-decoration: none;
  border-bottom: 1px solid #f6921e;
}
a:focus {
  outline: thin dotted;
}

a.button, button {
  border: none;
}

/* Headings -------------------------------------------------------------- */
h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #191919;
}

h1 {
  font-size: 1.714em;
  line-height: 1.1em;
  margin-bottom: 1.3em;
  color: #f6921e;
}

h2 {
  font-size: 1.285em;
  line-height: 1.3em;
  margin-bottom: 0.7em;
}

h3 {
  margin-bottom: 1.5em;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.7em;
}

h4 {
  margin-bottom: 1.5em;
}

h5, h6 {
  font-style: italic;
}

/* Inline -------------------------------------------------------------- */
cite, em, dfn, address, i {
  font-style: italic;
}

strong, dfn, b {
  font-weight: bold;
}

sup, sub {
  font-size: smaller;
  line-height: 0;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

mark {
  background: #ffff99;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

small {
  font-size: 0.857em;
}

q {
  font-style: italic;
}
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
p {
  margin-bottom: 1.5em;
  margin-right: 1.5em;
}

pre {
  margin: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

blockquote {
  margin-bottom: 1.5em;
  background: #f3f3f3;
  border: 1px solid #dadedf;
  padding: 1.5em;
  font-style: italic;
}
blockquote .quote {
  background: transparent url(/images/layout/quote-open.png) no-repeat 0 5px;
  padding-top: 0.8em;
  text-indent: 2.8em;
}
blockquote cite {
  font-size: 0.785em;
}

/* Hide HRs -------------------------------------------------------------- */
hr {
  display: none;
}

/* Figurs -------------------------------------------------------------- */
figure img {
  display: block;
  margin-bottom: 1.5em;
}

/* Replaced -------------------------------------------------------------- */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/* Lists -------------------------------------------------------------- */
ol, ul, dl {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}
li ul {
  list-style-type: circle;
}

dt {
  margin-top: 1.5em;
  font-style: italic;
}

dd {
  padding-left: 1.5em;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
table {
  margin-bottom: 2.25em;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table, td, th {
  vertical-align: top;
  border: 1px solid #dadedf;
}

th, thead th {
  font-weight: bold;
}

th, td, caption {
  padding: 0.75em;
  text-align: left;
  font-weight: normal;
}

th {
  background: #f3f3f3;
}

tfoot {
  font-size: 0.857em;
}

/* Forms -------------------------------------------------------------- */
fieldset {
  margin-bottom: 1.5em;
  border: 1px solid #dadedf;
  background: #f3f3f3;
  padding: 1.5em;
}
fieldset ul {
  list-style: none;
  margin: 0;
}
fieldset ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
fieldset li {
  *zoom: 1;
}
fieldset li:after {
  content: "";
  display: table;
  clear: both;
}

legend {
  font-size: 1.285em;
  font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
  vertical-align: baseline;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

label {
  font-weight: bold;
  display: block;
}

label abbr, abbr[title="required"] {
  font-size: 130%;
  color: #f6921e;
  border: none;
}

label abbr {
  margin-left: 0.75em;
}

.textinput, select, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: sans-serif;
  margin-bottom: 0.75em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.75em;
  border: 1px solid #dadedf;
  margin-top: 0;
  color: #595959;
}

textarea {
  font-size: 1em;
  height: 5em;
  vertical-align: text-bottom;
}

input[type=search] {
  -webkit-appearance: none;
}
input[type=search]::-webkit-search-decoration {
  display: none;
}

button {
  background: #f6921e;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75em;
  width: auto;
  overflow: visible;
}

.form-info {
  color: #727272;
  text-align: right;
  margin-right: 0;
}

label.error {
  background: url(/images/layout/form-error.png) no-repeat 0 center;
  padding-left: 20px;
  color: #f6921e;
  width: auto;
}

#nav-extra {
  position: absolute;
  right: 0;
  top: 0;
}
#nav-extra ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
#nav-extra ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
#nav-extra ul li:first-child, #nav-extra ul li.first {
  padding-left: 0;
}
#nav-extra ul li:last-child {
  padding-right: 0;
}
#nav-extra ul li.last {
  padding-right: 0;
}

header#topbar {
  position: relative;
  padding-top: 1.5em;
}

#logo {
  margin-bottom: 1.5em;
}
#logo a {
  color: #f6921e;
}
#logo a:hover {
  border: none;
}

#nav-main {
  *zoom: 1;
  margin-bottom: 3em;
  background: #f6921e;
}
#nav-main:after {
  content: "";
  display: table;
  clear: both;
}
#nav-main ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: 0;
}
#nav-main ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
#nav-main ul li:first-child, #nav-main ul li.first {
  padding-left: 0;
}
#nav-main ul li:last-child {
  padding-right: 0;
}
#nav-main ul li.last {
  padding-right: 0;
}
#nav-main a {
  font-size: 1em;
  line-height: 4.5em;
  float: left;
  display: block;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 10px;
}
#nav-main a:hover, #nav-main li.current a, #nav-main li.parent_of_current a {
  border-bottom: none;
  color: #FFF;
}

#breadcrumb p {
  border-bottom-style: solid;
  border-bottom-width: 0.071em;
  padding-bottom: 1.429em;
  border-color: #dadedf;
  margin-right: 0;
}

.homepage {
  background: orange;
}

@media only screen and (min-width : 481px) {
  .container {
    *zoom: 1;
    margin: auto;
    width: 82.637em;
    max-width: 100%;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  header#topbar h1 {
    clear: both;
    margin-left: 1.613%;
    margin-right: 1.613%;
  }

  sidebar {
    display: inline;
    float: left;
    width: 22.984%;
    margin-right: 1.613%;
    margin-left: 1.613%;
  }

  #content {
    display: inline;
    float: left;
    width: 72.177%;
    margin-right: 1.613%;
    display: inline;
    float: right;
    margin-right: 1.613%;
    #margin-left: -1.333em;
  }
}
.ie6 .container, .ie7 .container, .ie8 .container {
  *zoom: 1;
  margin: auto;
  width: 82.637em;
  max-width: 100%;
}
.ie6 .container:after, .ie7 .container:after, .ie8 .container:after {
  content: "";
  display: table;
  clear: both;
}
.ie6 header#topbar h1, .ie7 header#topbar h1, .ie8 header#topbar h1 {
  clear: both;
  margin-left: 1.613%;
  margin-right: 1.613%;
}
.ie6 sidebar, .ie7 sidebar, .ie8 sidebar {
  display: inline;
  float: left;
  width: 22.984%;
  margin-right: 1.613%;
  margin-left: 1.613%;
}
.ie6 #content, .ie7 #content, .ie8 #content {
  display: inline;
  float: left;
  width: 72.177%;
  margin-right: 1.613%;
  display: inline;
  float: right;
  margin-right: 1.613%;
  #margin-left: -1.333em;
}

.ie6 fieldset, .ie7 fieldset, .ie8 fieldset {
  position: relative;
  padding-top: 2em;
  margin-bottom: 2.5em;
}
.ie6 legend, .ie7 legend, .ie8 legend {
  position: absolute;
  top: -0.5em;
}

.ie7 legend {
  left: 0.5em;
}
