// These styles will be available in defaults, screen, print and IE

// Define & generate susy stuff
//------------------------------------------------------------------------------

// Define font Sizes
$base-font-size: 14px;
$base-line-height: 21px;

// Define grid values
$total-cols: 8;
$col-width: 8.83em;
$gutter-width: 1.333em;
$side-gutter-width: $gutter-width;

// Import modules
//------------------------------------------------------------------------------

// Import compass default modules
@import "compass";
// Import CSS reset
@import "compass/reset";
// Import susy
@import "susy/susy";
// Establish baseline, generate handy mixins & variables
@include establish-baseline;

// Colors
//------------------------------------------------------------------------------

// Text
$body-text: #3F3F3F;

// Colors
$primary: #F6921E;
$support: #191919;

// Backgrounds
$bg: #f3f3f3;

// Border color
$border: #dadedf;

// Fonts
//------------------------------------------------------------------------------

@mixin sans-family {
  font-family: sans-serif;
}

@mixin serif-family {
  font-family: Cambria, Georgia, serif;
}

@mixin monospace-family {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif;
}

// OTHER MIXINS 
//------------------------------------------------------------------------------
// Mixins set here will be available in defaults, screen, print and IE
// Or anywhere you import either base.sass or defaults.sass