// Typekit FOUT fixage
.wf-loading{
  h1, h2, h3{
    visibility:hidden;
  }
}

// Basic typography

// Serif, sans-serif
$serif: Georgia, baskerville, serif;
$sans-serif: Arial, sans-serif;

body{
  @include text-shadow(rgba(#FFF,1), 1px, 1px, 0);
  color: $body;
	font-family:$sans-serif;
  // Default body size 12px
  font-size: 75%;
  line-height: 1.5;
}
  
h4, p, ul, ol, blockquote, dl, hr, table{
  margin: 0 1.5em 1.5em 0;
}
h1,h2,h3{
	font-family:Helvetica, Arial, sans-serif;
}
h1{
  color:#000;
  font-size: 2em; // 24px
  font-weight: 600;
  margin:0 0.75em 0.75em 0; // 18px
}
h2{
  color:#000;
  font-size: 1.5em; // 18px
  font-weight:bold;
  margin:0 1em 1em 0; // 18px
}
h3{
  color:#000;
  font-size: 1.1667em; // 14px
  font-weight: bold;
  margin: 0 1.286em 1.286em 0; // 18px
}
h4{
  font-size:1em;
}
  
strong{
  font-weight: bold;
}
em{
  font-style: italic;
}

sup{
  font-size:80%;
  vertical-align:top;
}

hr{
  color:$border;
  background:$border;
  border:none;
  height: 1px;
  margin-right:0;
}

// Nice lists in content
#content ul, #content ol{
  @include nice-list;
}

// Links
a{
  @include link-colors(#4083a9, darken($blue,15%));
  text-decoration:none;
}

// Definition lists
dl{
  @include clearfix;
  dt{
    clear:left;
    float:left;
    margin-right:1em;
    width:10em;
    font-weight:bold;
  }
  dd{
    float:left;
    width:40em;
  }
}

// Intro boxes
.intro{
  font-size: 1.333em; // 16px
  color:lighten($body, 5%);
}

// Define alt mixin
// Use the mixin, or add a class .alt to your markup
@mixin alt{
  font-family:$serif;
  font-style: italic;
  color : darken($body, 5%);
  letter-spacing: 0;
  text-transform: capitalize;
}
.alt{
  @include alt;
}

// Muted mixin, use for quiet text
// Use the mixin, or add a class .muted to your markup
@mixin muted{
  color:lighten($body,30%);
}
.muted{
  @include muted;
}

// Tables
table{
  width:100%;
  thead{
    th{
    padding-top:1em;
    padding-bottom:1em;
    }
    th.action{
      text-align:center;
      width:180px;
    }
  }
}
th, td{
  border-bottom: 1px solid $border;
  padding:0.5em;
  vertical-align: top;  
}
td.action{
  vertical-align:middle;
  text-align:center;
}
td{
  dl{
    margin:0 !important;
    dd{
      width:auto;
    }
  }
}
th, th a{
  background:$body;
  color:#FFF;
  font-weight:bold;
}