/*
  Title: Gorilla project template
  Author: Jelle Desramaults
  For: Gorilla webdesign (http://gorilla-webdesign.be)
  Date: February 2011
  
  1. CONFIGURATION
  2. COMMON
      2.1 General page layout
      2.2 Topbar
      2.3 Header
      2.4 Sidebar
      2.5 Content
      2.6 Footer
  3. PAGES
      3.1 Home
      3.2 …
  4. MEDIA QUERIES
  5. IE STYLES
*/

// =============================================================================
// 1. CONFIGURATION & DEFAULTS
// =============================================================================

@import "partials/defaults";

// =============================================================================
// 2. COMMON
// =============================================================================

// 2.1 General layout stuff
//------------------------------------------------------------------------------

// 2.2 Top bar
//------------------------------------------------------------------------------

#nav-extra{
  position:absolute;
  right:0;
  top:0;
  ul{
    @include horizontal-list;
  }
}

// 2.2 Header
//------------------------------------------------------------------------------

header#topbar{
  position:relative;
  padding-top:$base-rhythm-unit;
}

#logo{
  @include trailer;
  a{
    color:$primary;
  }
  a:hover{
    border:none;
  }
}

#nav-main{
  @include pie-clearfix;
  @include trailer(2);
  background:$primary;
  ul{
    @include horizontal-list;
    margin:0;
  }
  a{
    @include adjust-font-size-to(14px,3);
    float:left;
    display:block;
    color: #FFF;
    font-weight:bold;
    text-transform:uppercase;
    padding:0 10px;
  }
  a:hover, li.current a, li.parent_of_current a{
    border-bottom:none;
    color:#FFF;
  }
}

// 2.3 Sidebar
//------------------------------------------------------------------------------

// 2.4 Content
//------------------------------------------------------------------------------
#breadcrumb p{
  @include trailing-border;
  border-color:$border;
  margin-right:0;
}

// =============================================================================
// 3. PAGES
// =============================================================================

// 3.1 Homepage
//------------------------------------------------------------------------------
// Insert styles for homepage
.homepage{
  background:orange;
}

// 4. MEDIA QUERIES
// =============================================================================
@media screen and (max-width: 480px){
  @import "partials/mobile";
}
@media screen and (min-width:481px) and (max-width:768px){
  @import "partials/screen";
  @import "partials/tablet";
}
@media screen and (min-width : 769px){
  @import "partials/screen";
}
.ie6, .ie7, .ie8{
  @import "partials/screen";
}

// 5. IE STYLES
// =============================================================================
@import "partials/ie";